* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    @mixin oultineRemover {
        &:focus {
            outline: none;
            border: 1px solid darkcyan;
        }
    }

    @mixin styling {
        height: 50px;
        width: 110px;
        background-color: whitesmoke;
        color: black;
    }

    body {
        padding: 10px 10px;
        margin: 0;
        border: 0;
        background-color: whitesmoke;
        color: black;

            h1 {
                color: #007571;
                font-family: cursive;
            }

            .questions {
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 80px;
                width: 1250px;
                background-color: #fff;
                color: darkcyan;
                font-size: small;
                margin-right: 3px;
                scroll-behavior: smooth;

                input {
                    border: none;
                    @include oultineRemover();
                    @include styling();
                }

                button {
                    border: none;
                    cursor: pointer;
                    @include oultineRemover();
                    @include styling();
                }

                select {
                    border: none;  
                    @include oultineRemover();
                    @include styling();
                }
        }

        .profitable {
            color: darkcyan;
        }

        .profitable, .valueOne, .valueTwo {
            font-size: large;
        }

        .tables {
            height: 30vh;
            color: #007070;
        }

        th {
            border: 1px solid #007070;
            font-size: small;
            color: #007070;
        }
    };
}
